**/__pycache__/**
.idea/
.vs/
.vscode/
/data/itineraries_random_2M.csv
/data/ResultadoEstadisticaPrecios.txt
/data/ResultadoFiltroDistancia.txt
/data/ResultadoFiltroEscalas.txt
/data/ResultadoVuelosRapidos.txt
/data/client/itineraries_random_2M.csv
/data/client3/ResultadoEstadisticaPrecios.txt
/data/client3/ResultadoFiltroDistancia.txt
/data/client3/ResultadoFiltroEscalas.txt
/data/client3/ResultadoVuelosRapidos.txt
/data/client4/ResultadoEstadisticaPrecios.txt
/data/client4/ResultadoFiltroDistancia.txt
/data/client4/ResultadoFiltroEscalas.txt
/data/client4/ResultadoVuelosRapidos.txt
/data/client/ResultadoEstadisticaPrecios.txt
/data/client/ResultadoFiltroDistancia.txt
/data/client/ResultadoFiltroEscalas.txt
/data/client/ResultadoVuelosRapidos.txt
/data/client5/ResultadoEstadisticaPrecios.txt
/data/client5/ResultadoFiltroDistancia.txt
/data/client5/ResultadoFiltroEscalas.txt
/data/client5/ResultadoVuelosRapidos.txt
/data/client2/ResultadoEstadisticaPrecios.txt
/data/client2/ResultadoFiltroDistancia.txt
/data/client2/ResultadoFiltroEscalas.txt
/data/client2/ResultadoVuelosRapidos.txt
/data/client1/ResultadoEstadisticaPrecios.txt
/data/client1/ResultadoFiltroDistancia.txt
/data/client1/ResultadoFiltroEscalas.txt
/data/client1/ResultadoVuelosRapidos.txt
/.gitignore
/.gitignore
/data
