**/__pycache__/**
.idea/
.vs/
.vscode/
/data/itineraries_random_2M.csv
/data/ResultadoEstadisticaPrecios.txt
/data/ResultadoFiltroDistancia.txt
/data/ResultadoFiltroEscalas.txt
/data/ResultadoVuelosRapidos.txt
